  body {
            font-family: 'Arial', sans-serif;
            background-color: #f7f7f7;
            color: #333;
            text-align: center;
            margin: 0px;
            }

    header {
            background-color: black;
            padding: 10px;
            text-align: center;
            }

    nav {
            margin-left: 20px;
            text-align: center;
            margin-bottom: 20px;
            font-family: Arial;
            font-size: 40px;
            }

    nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            }

    nav li {
            margin-right: 20px;
            }

    nav a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 16px;
            margin: 0 10px;
            transition: color 0.3s; /* Lisätään siirtymäaika värin muutokselle */
            }

    nav a:hover {
            color: #545454; /* Värimuutos hover-tilassa */
            }

    nav a.active {
            color: #545454; /* Aktiivisen linkin väri */
            }

    img {
            max-width: 100%;
            height: auto;
            }


    main {
    max-width: 800px; /* Säädä leveyttä tarpeen mukaan */
    margin: 0 auto;
    padding: 20px;
    }
h1 {
    font-size: 50px;
}

p {
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
    font-size: 30px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center; /* Keskennäytä kuvat vaakasuunnassa */
}

.image-grid img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.accessible-button {
    padding-top: 50px;
    padding: 20px 30px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;
    font-size: 15px;
}

.accessible-button:hover {
    background-color: #1C1F1F;
}

.accessible-button span {
    display: inline-block;
    margin-right: 5px;
}

footer {
    text-align: center;
    padding: 20px;
}

footer * {
    font-size: 16px;
}

footer div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
    gap: 2px; 
}

footer div h3 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

footer div p {
    margin-bottom: 8px;
}

footer div:last-child {
    grid-column: span 2;
}
